* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Colors **/
#nav {
  background-color: hsl(0deg, 0%, 98%);
  font-family: "Epilogue", sans-serif;
  padding: 2em 3em;
  color: hsl(0deg, 0%, 8%) !important;
  font-weight: 500 !important;
  display: flex;
  justify-content: space-between;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
  width: 100%;
}

.nav-brand {
  margin-right: 3em;
  padding: 0.8em 0;
}

.nav-brand-link {
  display: block;
}

.nav-items-lf {
  display: flex;
  flex-direction: row;
  font-family: "Epilogue", sans-serif;
}

.dropdown {
  margin-right: 1.3em;
  position: relative;
  display: inline-block;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}

.dropbtn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

.nav-items-lf .nav-link {
  margin-right: 1.3em;
  text-decoration: none;
  padding: 0.99em 0.5em;
  font-weight: 500;
}

.dropdown-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav-link, .dropbtn {
  font-family: "Epilogue", sans-serif;
  font-size: 0.89em;
  color: hsl(0deg, 0%, 8%);
  padding: 0.99em 0.5em;
  font-weight: 500;
}

.dropbtn img {
  margin: 0 0.29em;
  height: 0.5em;
  transition: 0.5ms ease-in-out;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 180px;
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: 9px 9px 69px -29px rgba(0, 0, 0, 0.75);
  transition: 3s ease-in-out;
}

.dropdown-content a {
  display: block;
  padding: 0em 0.2em;
  margin-bottom: 0.9em;
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.nav-link img {
  width: 1em;
  margin: 0 0.6em;
}

.nav-items-rt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items-rt a {
  margin-right: 0.5em;
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: hsl(0deg, 0%, 8%);
  cursor: pointer;
  font-weight: 500;
}

.nav-login {
  padding: 0.9em 0.99em;
}

.nav-items-rt .nav-link-regis {
  padding: 0.9em 0.99em;
  border: 2px solid hsl(0deg, 0%, 8%);
  border-radius: 1em;
}

.nav-items-rt .nav-link-regis:hover {
  border: 2px solid hsl(0deg, 0%, 8%);
  border-radius: 1em;
  cursor: pointer;
}

.menuIcon {
  outline: none;
  border: none;
  background: none;
  z-index: 2;
  display: none;
}

/*** Navber Media Quesries  ***/
@media only screen and (max-width: 1106px) {
  .navbar-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0em !important;
  }
}
@media only screen and (max-width: 769px) {
  .navbar-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: -1em;
    right: -560px !important;
    width: 300px;
    height: 100vh;
    background-color: hsl(0deg, 0%, 98%);
    padding: 7em 2em;
    box-shadow: 9px 9px 69px -29px rgba(0, 0, 0, 0.75);
  }
  .navbar-flex.active {
    right: 0px !important;
  }
  .nav-items-lf {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .menuIcon {
    display: block;
  }
  .nav-items-rt {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding: 2em 2em;
  }
  .nav-items-rt .nav-login {
    padding: 0.8em 0.8em;
    margin-bottom: 1.33em;
  }
  .nav-items-rt .nav-link-regis {
    padding: 0.9em 3.89em;
  }
}
/*** Home section **/
#home {
  background-color: hsl(0deg, 0%, 98%);
  font-family: "Epilogue", sans-serif;
}

#home .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hero--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2em;
}

.hero--container h1 {
  font-size: 3.69em;
  font-weight: 700;
}

.hero--container .hero--text {
  color: hsl(0deg, 0%, 41%);
  font-size: 1em;
  line-height: 1.39em;
  margin-top: 1.5em;
}

.hero-call-action {
  margin-top: 3em;
}

.hero-call-action a {
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  padding: 1em 1.3em;
  border-radius: 0.6em;
  text-decoration: none;
  cursor: pointer;
  font-family: 500 !important;
}

.hero-call-action a:hover {
  background: none;
  cursor: pointer;
  color: hsl(0deg, 0%, 8%);
  border-radius: 0.6em;
  border: 2px solid hsl(0deg, 0%, 8%);
  transition: background 3ms ease-in-out;
}

.client-icons {
  display: flex;
  margin-top: 4em;
}

.client-icons img {
  width: 6em;
  margin-right: 0.5em;
  height: 1.5em;
}

.hero-image img {
  width: 24.99em;
}

/**** Home Media Queries @769px ****/
@media only screen and (max-width: 769px) {
  #home .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .hero--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .hero--container h1 {
    font-size: 3.2em;
    font-weight: 700;
  }
  .hero--container h1 .h1-breaker {
    display: inline;
    flex-direction: row;
    margin-left: 0.22em;
  }
  .hero--container .hero--text {
    color: hsl(0deg, 0%, 41%);
    font-size: 1.39em;
    line-height: 1.39em;
    text-align: center;
    margin-top: 1.5em;
  }
  .hero-call-action a {
    background-color: hsl(0deg, 0%, 8%);
    color: hsl(0deg, 0%, 98%);
    padding: 0.9em 1.23em !important;
    border-radius: 0.6em;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
  }
  .hero-call-action a:hover {
    background: none !important;
    cursor: pointer;
    color: hsl(0deg, 0%, 8%);
    border-radius: 1em;
    border: 2px solid hsl(0deg, 0%, 8%);
    transition: background 3ms ease-in-out;
  }
  .client-icons {
    margin-bottom: 3em;
  }
}
@media only screen and (max-width: 412px) {
  .hero-image img {
    width: 22.22em;
  }
  #home {
    padding-bottom: 3em;
  }
  #home .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .hero--container {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 3.5em;
  }
  .hero--container h1 {
    font-size: 2.5em;
    font-weight: 700;
  }
  .hero--container h1 .h1-breaker {
    display: inline;
    flex-direction: row;
    margin-left: 0.22em;
  }
  .hero--container .hero--text {
    color: hsl(0deg, 0%, 41%);
    font-size: 0.98em;
    line-height: 1.39em;
    text-align: center;
    margin-top: 1.3em;
  }
  .hero-call-action {
    margin-bottom: 2.1em;
  }
  .hero-call-action a {
    background-color: hsl(0deg, 0%, 8%);
    color: hsl(0deg, 0%, 98%);
    padding: 0.9em 1.23em !important;
    border-radius: 1em;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
  }
  .hero-call-action a:hover {
    background: none;
    cursor: pointer;
    color: hsl(0deg, 0%, 8%);
    border-radius: 1em;
    border: 2px solid hsl(0deg, 0%, 8%);
    transition: background 3ms ease-in-out;
  }
  .client-icons {
    display: flex;
    margin-top: 2.5em;
    margin-bottom: 2em;
  }
  .client-icons img {
    width: 4em;
    margin-right: 0.5em;
    height: 1.5em;
  }
}
@media only screen and (max-width: 360px) {
  .hero--container {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 3.5em;
  }
  .hero--container h1 {
    font-size: 1.89em;
    font-weight: 700;
  }
  .hero-call-action a {
    background-color: hsl(0deg, 0%, 8%);
    color: hsl(0deg, 0%, 98%);
    padding: 0.9em 1.23em !important;
    border-radius: 1em;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
  }
  .hero-call-action a:hover {
    border-radius: 1em;
  }
  .hero--container .hero--text {
    color: hsl(0deg, 0%, 41%);
    font-size: 0.89em;
    line-height: 1.35em;
    text-align: center;
    margin-top: 1em;
  }
  .hero-image img {
    width: 19.99em;
  }
}
@media only screen and (max-width: 375px) {
  .hero-image img {
    width: 19.69em !important;
  }
  .hero--container h1 {
    font-size: 2em;
  }
  .hero--container .hero--text {
    font-size: 0.89em !important;
    line-height: 1.4em;
  }
  .client-icons img {
    width: 3.5em !important;
  }
}
@media only screen and (max-width: 428px) {
  .hero--container h1 {
    font-size: 2.12em !important;
  }
  .hero--container .hero--text {
    font-size: 0.99em;
    line-height: 1.56em;
  }
  .hero-image img {
    width: 21.9em !important;
  }
  .client-icons img {
    width: 4.5em;
  }
}
@media only screen and (max-width: 390px) {
  .hero--container .hero--text {
    font-size: 0.89em;
    line-height: 1.56em;
  }
}
@media only screen and (max-width: 414px) {
  .client-icons img {
    width: 4.89em;
  }
}
@media only screen and (max-width: 810px) {
  #home {
    padding-bottom: 5em !important;
  }
  #home .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
  }
  .hero--container h1 {
    font-size: 3em;
  }
  .hero--container h1 .h1-breaker {
    display: inline;
    margin-left: 0.3em;
  }
  .hero-image img {
    width: 30.55em;
  }
  .hero--container .hero--text {
    text-align: center;
  }
  .hero-call-action {
    margin-top: 3.5em;
  }
  .hero-call-action a:hover {
    background: none !important;
    cursor: pointer;
    color: hsl(0deg, 0%, 8%);
    border-radius: 0.6em;
    border: 2px solid hsl(0deg, 0%, 8%);
    transition: background 3ms ease-in-out;
  }
}/*# sourceMappingURL=styles.css.map */