* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Colors **/
$almost_white: hsl(0, 0%, 98%);
$medium_grey: hsl(0, 0%, 41%);
$almost_black: hsl(0, 0%, 8%);
$nav_item_shadow: 9px 9px 69px -29px rgba(0,0,0,0.75);

//* Font **/
$weight500: 500;
$weight700: 700;
$nav-item_font: 1em;
$defualtFontFam: 'Epilogue', sans-serif;
$pad_nav_item: .99em 1.2em;
$dropdown_font: 1em;
$nav_space_btw: 37em;
$nav_space_btw2: 20em;
$nav_font_size: 15px;


#nav {
    background-color: $almost_white;
    font-family: $defualtFontFam;
    padding: 2em 3em;
    color: $almost_black !important;
    font-weight: $weight500 !important;
    display: flex;
    justify-content: space-between;
    // border: 3px solid red;

}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $defualtFontFam;
    font-size: $nav_font_size;
    // border: 2px solid red;
}

.nav-brand {
    margin-right: 3em;
    // border: 1px solid blue;
    padding: .8em 0;
}

.nav-brand-link {
    display: block;
}


// .navbar-items--flex {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     border: 2px solid red;
//     margin-right: $nav_space_btw;
// }

.nav-items-lf {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    // border: 2px solid aqua;
    font-family: $defualtFontFam;
    // margin-right: $nav_space_btw;

}

.dropdown {
    margin-right: 1.3em;
    position: relative;
    display: inline-block;
    font-family: $defualtFontFam;
    font-weight: $weight500;
    
    
}

.dropbtn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.nav-items-lf .nav-link {
    margin-right: 1.3em;
    text-decoration: none;
    padding: $pad_nav_item;
    font-weight: $weight500;
}

.dropdown-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-link, .dropbtn {
    font-family: $defualtFontFam;
    font-size: $nav-item_font;
    color: $almost_black;
    padding: $pad_nav_item;
    // border: 1px solid yellow;
}

.dropbtn img {
    margin: 0 .29em;
    height: .5em;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 180px;
    background-color: $almost_white;
    box-shadow: $nav_item_shadow;
    transition: 3s ease-in-out;
}

.dropdown-content a {
    display: block;
    padding: 0em .2em;
    margin-bottom: .9em;
    // border: 1px solid red;
    text-decoration: none;
    font-family: $defualtFontFam;
    font-size: $dropdown_font;
    font-weight: $weight500;

}

.nav-link img {
    width: 1em;
    margin: 0 .6em;
}

// .navbar-items--flex
.nav-items-rt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items-rt a {
    margin-right: .5em;
    font-family: $defualtFontFam;
    font-size: $nav_font_size;
    text-decoration: none;
    color: $almost_black;
    cursor: pointer;
    font-weight: $weight500;
}

.nav-login {
    padding: .9em .99em;
    // border: 1px solid #000;
}

.nav-items-rt .nav-link-regis {
    padding: .9em .99em;
    border: 2px solid $almost_black;
    border-radius: 1em;
}

.nav-items-rt .nav-link-regis:hover {
    border: 2px solid $almost_black;
    border-radius: 1em;
    cursor: pointer;
    // padding: .9em .99em;

}

.menuIcon {
    outline: none;
    border: none;
    background: none;
    z-index: 2;
    display: none;
}


/*** Navber Media Quesries  ***/



@media only screen and (max-width:1106px) {

    .navbar-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 0em !important;
        // background-color: red;
    }

}


@media only screen and (max-width:769px) {
    
    // #nav {
    //     background-color: blue;
        
    // }

    // .navbar-items--flex {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     align-items: flex-start;
    //     position: fixed;
    //     top: -1em;
    //     right: -560px !important;
    //     // left: 0 !important;
    //     width: 300px;
    //     height: 100vh;
    //     background-color: $almost_white;
    //     padding: 7em 2em;
    //     margin-right: 0 !important;
        
    // }
    .navbar-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: -1em;
        right: -560px !important;
        // left: 0 !important;
        width: 300px;
        height: 100vh;
        background-color: $almost_white;
        padding: 7em 2em;
        box-shadow: $nav_item_shadow;
        // margin-right: 0 !important;
        
    }

    // .navbar-items--flex.active {
    //     right: 0px !important;
    // }
    .navbar-flex.active {
        right: 0px !important;
    }

    .nav-items-lf {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        // border: 2px solid red;


    }

    .menuIcon {
        display: block;
    }

    .nav-items-rt {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        padding: 2em 2em;
        // position: relative;

        // border: 2px solid red;
    }

    .nav-items-rt .nav-login {
        padding: .8em .8em;
        margin-bottom: 1.33em;
        // border: 2px solid red;

    }

    .nav-items-rt .nav-link-regis {
        padding: .9em 3.89em;
    }

}


/*** Home section **///

#home {
    background-color: $almost_white;
    font-family: $defualtFontFam;
    
    
}

#home .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    
}

.hero--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // border: 2px solid red;
    margin-top: 2em;

}

.hero--container h1 {
    font-size: 3.69em;
    font-weight: $weight700;
}

.hero--container .hero--text {
    color: $medium_grey;
    font-size: 1em;
    line-height: 1.39em;
    margin-top: 1.5em;

}

.hero-call-action {
    margin-top: 3em;
}

.hero-call-action a {
    background-color: $almost_black;
    color: $almost_white;
    padding: 1em 1.3em;
    border-radius: .6em;
    text-decoration: none;
    cursor: pointer;
    font-family: $weight500 !important;
}

.hero-call-action a:hover {
    background: none;
    cursor: pointer;
    color: $almost_black;
    border-radius: .6em;
    border: 2px solid $almost_black;
    transition: background 3ms ease-in-out;
}

.client-icons {
    display: flex ;
    margin-top: 4em;
    
}
.client-icons img {
    width: 6em;
    margin-right: .5em;
    height: 1.5em;
}


.hero-image img {
    width: 24.99em;
}



/**** Home Media Queries @769px ****/

@media only screen and (max-width:769px) {

    #home .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;  
        align-items: center;
        
    }

    .hero--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 2px solid red;
        margin-top: 2em;
    
    }

    .hero--container h1 {
        font-size: 3.2em;
        font-weight: $weight700;
        
    }

    .hero--container h1
    .h1-breaker {
        display: inline;
        flex-direction: row;
        margin-left: .22em;
    }

    .hero--container .hero--text {
        color: $medium_grey;
        font-size: 1.39em;
        line-height: 1.39em;
        text-align: center;
        margin-top: 1.5em;
    
    }

    .hero-call-action a {
        background-color: $almost_black;
        color: $almost_white;
        padding: .9em 1.23em !important;
        border-radius: .6em;
        text-decoration: none;
        cursor: pointer;
        font-size: 1em;
    }

    .hero-call-action a:hover {
        background: none !important;
        cursor: pointer;
        color: $almost_black;
        border-radius: 1em;
        border: 2px solid $almost_black;
        transition: background 3ms ease-in-out;
    }

    .client-icons {
        margin-bottom: 3em;
    }
    
}

@media only screen and (max-width:412px) {

    .hero-image img {
        width: 22.22em;
    }

    #home {
        padding-bottom: 3em;
    }

    #home .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;  
        align-items: center;
        
    }

    .hero--container {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        // border: 2px solid red;
        margin-top: 3.5em;
    
    }

    .hero--container h1 {
        font-size: 2.5em;
        font-weight: $weight700;
        
    }


    .hero--container h1
    .h1-breaker {
        display: inline;
        flex-direction: row;
        margin-left: .22em;
    }

    .hero--container .hero--text {
        color: $medium_grey;
        font-size: .98em;
        line-height: 1.39em;
        text-align: center;
        margin-top: 1.3em;
    
    }

    .hero-call-action {
        margin-bottom: 2.1em;
    }

    .hero-call-action a {
        background-color: $almost_black;
        color: $almost_white;
        padding: .9em 1.23em !important;
        border-radius: 1em;
        text-decoration: none;
        cursor: pointer;
        font-size: 1em;
       
    }

    .hero-call-action a:hover {
        background: none;
        cursor: pointer;
        color: $almost_black;
        border-radius: 1em;
        border: 2px solid $almost_black;
        transition: background 3ms ease-in-out;
        
    }


    .client-icons {
        display: flex ;
        margin-top: 2.5em;
        margin-bottom: 2em;
        
    }
    .client-icons img {
        width: 4em;
        margin-right: .5em;
        height: 1.5em;
    }
}

@media only screen and (max-width:360px) {

    .hero--container {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        // border: 2px solid red;
        margin-top: 3.5em;
    
    }

    .hero--container h1 {
        font-size: 1.89em;
        font-weight: $weight700;
        
    }

    .hero-call-action a {
        background-color: $almost_black;
        color: $almost_white;
        padding: .9em 1.23em !important;
        border-radius: 1em;
        text-decoration: none;
        cursor: pointer;
        font-size: 1em;
    }

    .hero-call-action a:hover{
        border-radius: 1em;
    }

    .hero--container .hero--text {
        color: $medium_grey;
        font-size: .89em;
        line-height: 1.35em;
        text-align: center;
        margin-top: 1em;
        
    
    }


    .hero-image img {
        width: 19.99em;
    }


}


@media only screen and (max-width:375px) {

    .hero-image img {
        width: 19.69em;
    }

    .hero--container h1 {
        font-size: 2em;
    }

    .hero--container
    .hero--text {
        font-size: .89em !important;
        line-height: 1.4em;
    }

}


@media only screen and (max-width:428px) {

    .hero--container h1 {
        font-size: 2.12em;
    }

    .hero--container
    .hero--text {
        font-size: .99em;
        line-height: 1.56em;
    }

    .hero-image img {
        width: 21.9em;
    }

}


@media only screen and (max-width:390px) {
    
    .hero--container
    .hero--text {
        font-size: .89em;
        line-height: 1.56em;
    }

}


@media only screen and (max-width:414px) {

    .client-icons img {
        width: 4.89em;
    }
}
